---
import HomeAbout from "@/components/home/HomeAbout.astro";
import HomeContact from "@/components/home/HomeContact.astro";
import { HomeFluidScroll } from "@/components/home/HomeFluidScroll";
import HomeHero from "@/components/home/HomeHero.astro";
import HomeLegalLinks from "@/components/home/HomeLegalLinks.astro";
import AppShell from "@/components/shell/AppShell.astro";
import Layout from "@/layouts/Layout.astro";

export const prerender = false;
---

<Layout title="BassMap PL – Find the place, drop the bass!">
  <AppShell showFooter={false} immersive>
    <HomeFluidScroll client:only="react" />
    <main class="home-scroll-main">
      <HomeHero />
      <HomeAbout />
      <HomeContact />
      <HomeLegalLinks />
    </main>
  </AppShell>
</Layout>
