---
import TeamDashboard from "@/components/fan/TeamDashboard";
import AppShell from "@/components/shell/AppShell.astro";
import Layout from "@/layouts/Layout.astro";
import { shellHeading } from "@/lib/shell-styles";

export const prerender = false;
---

<Layout title="Znajomi i ekipa">
  <AppShell showFooter={true}>
    <section class="border-border border-t py-16 md:py-24">
      <div class="mx-auto max-w-6xl px-4">
        <h1 class:list={[shellHeading, "text-3xl md:text-4xl"]}>Znajomi i ekipa</h1>
        <TeamDashboard client:only="react" />
      </div>
    </section>
  </AppShell>
</Layout>
